CORE_HOST=core
CONTROLLER_REQUEST_ADDRESS=tcp://127.0.0.1:5558
CONTROLLER_RESPONSE_ADDRESS=tcp://127.0.0.1:5557


DATA_PUBLISHER_ADDRESS=tcp://127.0.0.1:5556
WORKER_TIMEOUT=1000
N_WORKERS=1
IS_INPUT=0
DEBUG=0

INTERNAL_SUBSCRIBER_ADDRESS=tcp://127.0.0.1:5558
INTERNAL_PUBLISHER_ADDRESS=tcp://127.0.0.1:5557
INPUT_SUBSCRIBER_ADDRESS=tcp://127.0.0.1:5559